<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="MongoDB" value="AirTicketReservation" />
  </appSettings>
  <connectionStrings>
    
    <add name="MongoServerSettings" connectionString="mongodb://localhost/airTicketReservation" />
  </connectionStrings>
</configuration>